#exportPattern("^[[:alpha:]]+")
export(dna_signal)
export(hjorth_params)
export(fasta_hjorth_params)
export(sigbin)
export(fasta_sigbin)
export(plot_sigbin_3d)

importFrom(Rcpp, evalCpp)
import(Biostrings)
import(fastcluster)
import(dynamicTreeCut)
importFrom(fields, tim.colors)
import(rgl)

useDynLib(sigbin)
